*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
nav ul li{
    display: inline;
    padding: 0 5px;
}
label{
    display: none;
}

input{
    display: none;
}

/* Breakpoint */
@media screen and (max-width: 480px) {
    label {
        display: block;
        position: absolute;
        right: 0;
        padding: 0 15px;
        cursor: pointer;
    }
    
    nav {
        position: absolute;
        top: 100%;
        left: 0;
        
        width: 100%;
        background-color: bisque;
       height: 0;
        transition: all 0.5s;

    }
    
    nav ul {
        display: block;
        text-align: center;
    }
    
    nav ul li {
        display: block;
        padding: 5px 0;
    }
    
    #check:checked ~ nav {
        display: block;
        position: absolute;
        height: 200px;
        top:10%;
        /* transition: all 0.5s; */

    }

    #check:checked ~ nav ul li {
        display: block;
    }
}